<div class= "p-4">
<h1>Places</h1>

<div class= "pt-3">
<%if @current_user != nil%>
<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>
<p>
  <a class="btn btn-primary" href="/places/new" role="button">New place</a>
</p>
</div>

<% else %>
<h2>Login to see places!</h2>
<% end %>
</div>